[Unit]
Description=filesync
After=network.target
Wants=filesync.timer

[Service]
Type=oneshot
User=
WorkingDirectory=
ExecStart=/bin/bash /opt/sync.sh

[Install]
WantedBy=multi-user.target
